@model IEnumerable<MusicTagEditor.Data.Models.MusicFileModel>

@{
    Layout = "~/Views/Menu/Shared/_LayoutPlayer.cshtml";
}

<div class="container col-sm-5 col-md-6 col-lg-6 col-xl-5" name="FileContainer">
    <div class="row justify-content-center" name="ChooseSong">
        <div class="list-group mt-5" id="list-tab" role="tablist">
            @{
                int i = 0;
                @foreach (var item in Model)
                {
                    <p id="@i" name="path" hidden>@item.Path</p>
                    <a name="songName" class="list-group-item list-group-item-action" id="@i" data-toggle="list" role="tab" aria-controls="home">@item.Name</a>
                    i++;
                }
            }
        </div>
    </div>
    <div class="row justify-content-center" name="EditRow">
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/TagReciver.js"></script>
