@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid">
    <div class="row">
        <div class="col-12 border">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="~/Images/Logo/compact-disc.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    MusicTagEditor
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <a class="nav-link" href="#">Справка</a>
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-danger my-2 my-sm-0" asp-action="Logout" asp-controller="Auth" type="submit">Выход</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card align-self-center mt-5">
                <img class="card-img-top logo_size" src="~/Images/Logo/music.png">
                <div class="card-body">
                    <h5 class="card-title">Меню песни</h5>
                    <p class="card-text">Выберите песню из своего локального хранилища</p>
                    <form asp-action="UploadMusicFiles" asp-controller="Menu" method="post" enctype="multipart/form-data">
                        <input type="file" class="form-control-file" data-show-upload="false" data-show-caption="true" multiple name="uploads">
                        <input type="submit" class="mt-2 btn btn-primary" value="Загрузить">
                    </form>
                    @*<a href="#" class="btn btn-primary">Загрузить</a>*@

                </div>
            </div>
        </div>
    </div>
</div>
