@model MusicTagEditor.ViewModels.Auth.LoginViewModel

@{
    Layout = null;
}

<div class="container align-content-center h-50 w-50 p-3">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Авторизация</h1>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Login" asp-controller="Auth" asp-anti-forgery="true">
                <div class="validation" asp-validation-summary="ModelOnly"> </div>
                <div>
                    <div class="form-group">
                        <label asp-for="Email" class="form-control" id="exampleInputEmail1">Введите Email</label>
                        <input type="text" asp-for="Email" />
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="form-control" id="exampleInputEmail1">Введите пароль</label>
                        <input asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            <a class="card-link" asp-action="Register" asp-controller="Auth">Регистрация</a>
        </div>
    </div>
</div>
@*<form method="post" asp-action="Login" asp-controller="Auth" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"> </div>
        <div>
            <div class="form-group">
                <label asp-for="Email">Введите Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>*@
